
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* game css */
canvas {
    border: 2px solid black;
    background-color: gray;
}

/* end of game css */



body{
    color: white;
    font-family: 'Monoton', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Jura', sans-serif;

}

#mainHeader{
    
    background-color:#b3daff;
    color: white;
    text-shadow: 3px 4px 5px black;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 90px;


}
.inner-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(#b3daff 35%, #e6f3ff, rgb(19, 92, 19));
}
.row{
    width: 100% !important;
}

.game{
       align-content: center;
}

#info-container{
    width: 100%;
    padding-bottom: 20%;
    background-color: rgb(19, 92, 19);
}

.info-container-inner{
    width: 80%;
    padding-top: 1%;
    margin: 0 auto;
  }
   

.info-box-style{
    font-family: 'Orbitron','Jura', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(90, 50, 39);
 }
 

.inner-info-box{
    font-family: 'Jura', sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2% ;
    margin: 15px;
    background-color: rgb(189, 152, 72);
    box-shadow: 1px 6px 7px rgba(43, 34, 16, 0.623);
  
}
 
.info-box-header{
    padding: 10px;
    margin-bottom: 3px;
    font-size:20px;
    text-shadow: 2px 4px 5px black;
    border-radius: 50px;
    background-color: rgba(129, 71, 37, 0.404);
    box-shadow: 1px 6px 7px #44251eb0;
    
}

.game-key{
    border-radius: 40px 0 20px 20px;
    box-shadow: 1px 4px 5px #44251eb0;
    
}


.instructions{
   border-radius: 0 0 15px 15px;
   box-shadow: 1px 4px 5px #44251eb0;
}
    

.score-card{
    border-radius: 0 40px 20px 20px;
}

.start-menu{
    margin: 100px 60px -50px 60px;
}

.start-button{
    border-radius: 0 40px 20px 20px;
    box-shadow: 1px 4px 5px #44251eb0;
}

.user-input{
    margin-bottom: 10px;
    margin-left: 65px;
    font-size: 20px;
}
#usernameInput{
    color: black;
    border-radius: 0 40px 20px 20px;
    box-shadow: 1px 4px 5px #44251eb0;
}

